@{
    ViewBag.Title = "Hardwork";
}

<h1>CPU simulated load running at @ViewBag.Message</h1>

<p>This app is now artifically stressing the App Service CPUs in order to support testing autoscaling. 
    Don't forget to stop the App Service when testing is complete.</p>
